body{
    width: 90%;
    height: 1000px;
    background-color: #D6D5D0;
    padding-bottom: 10%;
}

#hoja{
    width: 50%;
    height: 100%;
    background-color: white;
    margin: auto;
    box-shadow:0 0px 4px black, 0 0 20px #CCC inset;
}

.izq{
    background-color: #000000;
    height: 100%;
    width: 33%;
    float: left;

    color: white;

}

.izq img{
    width: 80%;
    height: 17%;
    padding-left: 10%;
    padding-top: 10%;
    border-radius: 55%;
}

.izq h4{
    padding-left:20%;
    padding-right:20%;
    padding-top: 0;
    font: 1em Times New Roman;

}
.edu{
    text-align: center;
}
.edu p{
    font-size: 8pt;
}
.edu p b{
    font-size: 14pt;
}

.izq div.line{
    background: #DFBB15;
    width: 80%;
    height: .3%;
    margin: auto;
}




.der{
    height: 100%;
    width: 67%;
    float: right;
    background-color: white;
}

.nombre{
    background-color: #DFBB15;
    width: 100%;
    height: 15%;
    position: relative;
    top:3%;
}
.nombre p{
    font:Verdana;
    font-size: 1em;
    text-align: center;
    padding: 10%;
}

#h4-1{
    padding-top: 10%;
    text-align: center;
    
}
.der div.line{
    background: #DFBB15;
    width: 80%;
    height: .3%;
    margin: auto;
    position: relative;
    bottom:2%    
}

.der #acerca{
    font-size: 8pt;
    text-align: left;
    position: relative;
    bottom: 1%;
    padding-left: 3%;
}

#h4-2{
    text-align: center;
}

.der #xp{
    font-size: 8pt;
    text-align: left;
    position: relative;
    bottom: 1%;
    padding-left: 3%;
}

#skill{
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    
}

#skill #usos{
    text-align: left;
    font-size: small;
    font-family:Didot;
}
footer{
    width: 100%;
    height: 5%;
    position: relative;
    top:20%
}
footer p{
    text-align: left;
    padding-top:1%;
    font-size: small;

}
footer img{
    padding-left: 5%;
}